.user-list-button{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    /* justify-content: space-around; */
}
.home-about{
    background-image: linear-gradient(to right, #a55cbe, #868fd8);
    /* height: 100vh; */
}
.white{
    color: black;
}
.add-btn{
    height: 3rem;
    width: 10rem;
    background-color: rgb(31, 31, 31);
    background-image: radial-gradient(rgb(43, 0, 255),rgb(25, 105, 185));
    color: rgb(246, 228, 228);
    font-weight: bold;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 2rem;
    border-color: aliceblue;

}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow:10px 10px 10px;
    padding: 4px;
    width: 20rem;
    margin-left: 4rem;
    gap: 1rem;
    padding: 1rem;
    border-color: white;
    background-color: #28348a;
}
.task{
    color: white;
}
.button{
    color: white;
    background-color: rgb(158, 110, 203);
    width: 5rem;
    height: 2rem;
    border-width: 0;
    border-radius: 2px;
}
.cancel-icon{
    align-self: flex-end;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.user-ul-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.loading-container{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 69vh;
    width: 100vw;
}
.input{
    width: 15rem;
    height: 2.3rem;
    padding-left: 10px;
    color: black;
    outline: none;
}
button{
    height: 2rem;
    width: 6rem;

}
.yellow{
    background-color: rgb(15, 16, 16);
    color: white;
    text-align: center;
    border-width: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;

}
.yellow:focus{
 background-color: yellow;
 color: black;
}
.green:focus{
    background-color: green;
    color: black;
}
.red:focus{
    background-color: red;
    color: black;
}
.green{
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
    border-width: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
}
.red{
    background-color: rgb(14, 14, 14);
    color: white;
    text-align: center;
    border-width: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
}

button:hover{
    cursor: pointer;
}
